parameters:
	ignoreErrors:
		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''madpilot78\\\\FreeBoxPHP\\\\Auth\\\\Manager'' and madpilot78\\FreeBoxPHP\\Auth\\Manager will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 4
			path: tests/Unit/Auth/ManagerTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''madpilot78\\\\FreeBoxPHP\\\\BoxInfo'' and madpilot78\\FreeBoxPHP\\BoxInfo will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 2
			path: tests/Unit/BoxInfoTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''madpilot78\\\\FreeBoxPHP\\\\Box'' and madpilot78\\FreeBoxPHP\\Box will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 5
			path: tests/Unit/BoxTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNull\(\) with null will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 2
			path: tests/Unit/Methods/DiscoverTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNull\(\) with null will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Unit/Methods/LoginTest.php
