---

name: tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        php:
          - '8.3'
          - '8.4'
        experimental:
          - false
        include:
          - php: '8.5'
            experimental: true
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
      - name: setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer
          coverage: xdebug
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Run composer
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: highest
      - name: Run phpstan
        uses: php-actions/phpstan@v3
        with:
          php_version: ${{ matrix.php }}
          memory_limit: 512M
      - name: Run phpunit
        run: vendor/bin/phpunit --cache-directory "$RUNNER_TEMP" --coverage-clover ./coverage.xml
      - name: Upload to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
